#--------------------------CHAIN OF RESPONSABILITY--------------------------

http://www.michael-whelan.net/rules-design-pattern/

http://myjavaadventures.com/blog/2015/12/25/design-pattern-implementing-a-chain-of-responsibility-in-java/